* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color:rgb(9, 103, 209);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 50px;
 }

 h1 {
     font-size: 35px;
     padding-bottom: 25px;
 }

 h2 {
     margin-bottom: 20px;
     text-align: center;
 }
 
 .first {
     color:rgb(8, 8, 8);
 }
 .second{
     color: rgb(241, 7, 7);
 }

 #your-name {
     background-color: rgb(235, 139, 14);
     border: 5px solid rgb(8, 8, 8); 
     width: 400px;
     padding: 25px;
     margin-top: 30px;
 }

input,
button {
    padding: 10px;
    font-size: 16px;
 }

 a{
     background-color: rgb(71, 181, 255);
 }

 #course-image{
    width: 200px; 
 }
 #your-name h1{
     color: rgb(10, 10, 10);


 }